apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: chrisshortnet-netlify-cronjob
spec:
  schedule: "1 3 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
            - name: gcr-secret
          containers:
          - name: devopsish-netlify-cronjob
            image: gcr.io/chrisshort-net/devopsish-netlify-cron:latest
            env:
              - name: URL
                valueFrom:
                  secretKeyRef:
                    name: chrisshortnet-build-hook
                    key: url
          restartPolicy: OnFailure
